body {
    background-image: url(clouds-opacity80.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow: hidden; */
}



/*------------------------  TITLE -------------------------*/
h1 {
    color: rgb(255, 208, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 70px;
}

.underline {
    border: 1px solid rgb(255, 208, 0);
    width: 150px;
    margin: auto;
}



/*------------------------ Search Form -------------------------*/

#menu {
    display: none;
    height: 40px;
    float: right;
    margin-right: 5px;
}

#status {
    color: rgb(216, 215, 215);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.search {
    margin-top: 5%;
    justify-content:center;
    display:flex;
}

#find-me img{
    vertical-align: baseline;
    transition: 0.3s;
    margin-right: 30px;
}

#find-me:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

#searchInput {
    height: 40px;
    width: 100%;
    border: 0;
}

#submitInput {
    height: 43px;
    width:10em;
    background-color: rgb(2, 154, 255);
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.3s;
}

#submitInput:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/*------------------------ RESET ALL -------------------------*/

#resetAllInput {
    height: 60px;
    vertical-align: middle;
    transition: 0.3s;
    margin-left: 50px;
}

#resetAllInput:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

#confirmResetAll {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.863); /* Black w/ opacity */
}

.formConfirmResetAll {
    background-color: #272727c9;
    border: 4px solid rgba(255, 208, 0, 0.575);
    margin: auto;
    margin-top: 100px;
    height: 200px;
    width: 42%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formConfirmResetAll p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(216, 215, 215);
    font-size: 20px;
    margin-bottom: 50px;
}

.formConfirmResetAll #confirm {
    height: 40px;
    width:10em;
    background-color: rgba(255, 0, 0, 0.63);
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.formConfirmResetAll #confirm:hover {
    background-color: rgba(255, 0, 0, 0.945);
}


.formConfirmResetAll #cancel {
    height: 40px;
    width:10em;
    background-color: rgba(255, 255, 255, 0.842);
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(48, 47, 47);
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.formConfirmResetAll #cancel:hover {
    background-color: rgba(173, 173, 173, 0.842);
}



/*------------------------ TABLEAU -------------------------*/


table {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    margin-top: 80px;
    border-collapse : collapse;
    position: relative;
}

thead{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    height: 100px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.212);
}

tbody {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

tbody tr {
    transition: 0.2s;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.342);
    transition: 0.2s;
}

td {
    width: 15%;
}


/*------------------------ RESET ONE -------------------------*/

#resetOneInput {
    height: 50px;
    vertical-align: middle;
    transition: 0.3s;
}

#resetOneInput:hover {
    margin-right: 30px;
    transition: 0.3s;
}


#confirmResetOne {
display: none;
white-space: nowrap;
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
background-color: #000000f5;
color: rgb(255, 255, 255);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#deleteOne {
    vertical-align: middle;
    color: rgb(216, 215, 215);
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 2;
}

.formConfirmResetOne #confirm {
    height: 40px;
    width:10em;
    background-color: rgba(255, 0, 0, 0.63);
    border: 0;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.formConfirmResetOne #confirm:hover {
    background-color: rgba(255, 0, 0, 0.945);
}


.formConfirmResetOne #cancel {
    height: 40px;
    width:10em;
    background-color: rgba(255, 255, 255, 0.842);
    border: 0;
    color: rgb(48, 47, 47);
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.formConfirmResetOne #cancel:hover {
    background-color: rgba(173, 173, 173, 0.842);
}


/*------------------------ MOBILE -------------------------*/
@media only screen and (max-width: 870px) {

    body {
        background-size: cover;
    }

    header {
        display: flex;
        align-items: center;
    }
    
    h1 {
        font-size: 30px;
        text-align: start;
        flex: 1;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .underline {
        width: 180px;
        margin-left: 0;
    }

    #menu {
        display: block;
        z-index: 11;
    }

    #status {
        font-size: 12px;
    }
    
    .tools {
        position: fixed;
        z-index: 10;
        background-color: rgb(7, 7, 7);
        transition: top 0.5s;
        width: 100%;
    }

    #find-me img {
        height: 40px;
        margin-right: 10px;
    }

    #searchInput {
        width: 60%;
        border-radius: 20px 0px 0px 20px;
        display: inline-block;
        height: 35px;
    }
    
    #submitInput {
        width: 40px;
        border-radius: 0px 20px 20px 0px;
        color: rgb(2, 154, 255);
        display: inline-block;
        height: 38px;
        margin-top: 1px;
    }

    #resetAllInput {
        height: 40px;
        margin-left:45%;
        margin-top: 15px;
    }

    .formConfirmResetAll {
    width: 90%;
    }

    .formConfirmResetAll #confirm{
        font-size: 10px;
        height: 25px;
    }
    .formConfirmResetAll #cancel{
        height: 25px;
        font-size: 10px;
    }
    .formConfirmResetAll p{
        font-size: 13px;
    }

    table {
        margin-top: 40px;
    }

    thead {
        font-size: 11px;
        height: auto;
    }

    tbody {
        font-size: 11px;
    }

    #resetOneInput {
        height: 20px;
    }

    #confirmResetOne {

    }

    .formConfirmResetOne #confirm{
        font-size: 10px;
        height: 25px;
    }
    .formConfirmResetOne #cancel{
        height: 25px;
        font-size: 10px;
    }
    #deleteOne{
        font-size: 13px;
    }

    .date {
        font-size: 9px;
    }

  }