body {
    background-image: url(/clouds-opacity80.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(255, 208, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: sticky;
    transition: 0.3s;
    top: 20px;

}

.underline {
    border: 1px solid rgb(255, 208, 0);
    width: 150px;
    position: sticky;
    top: 80px;

}

#status {
    color: rgb(216, 215, 215);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.search {
    display: flex;
    justify-content: space-around;
}

#find-me {
    vertical-align: middle;
    transition: 0.3s;
    margin-right: 20px;
}

#find-me:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

#searchInput {
    height: 40px;
    width: 40em;
    border: 0;
}

#submitInput {
    height: 40px;
    width:10em;
    background-color: rgb(2, 154, 255);
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.3s;
}

#submitInput:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

table {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border-collapse : collapse;
}

thead{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    height: 100px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.212);
}

tbody {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

tbody tr {
    transition: 0.2s;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.342);
    transition: 0.2s;
}

td {
    width: 15%;
}

#resetAllInput {
    height: 60px;
    vertical-align: middle;
    transition: 0.3s;
    margin-left: 30px;
}

#resetAllInput:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }


#resetOneInput {
    height: 50px;
    vertical-align: middle;
    transition: 0.3s;
}
#resetOneInput:hover {
    margin-right: 30px;
    transition: 0.3s;
}



#confirmResetAll {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.863); /* Black w/ opacity */
}

.formConfirmResetAll {
    background-color: #272727c9;
    border: 4px solid rgba(255, 208, 0, 0.575);
    margin: auto;
    margin-top: 100px;
    height: 200px;
    width: 42%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formConfirmResetAll p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(216, 215, 215);
    font-size: 20px;
    margin-bottom: 50px;
}

.formConfirmResetAll #confirm {
    height: 40px;
    width:10em;
    background-color: rgba(255, 0, 0, 0.63);
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.formConfirmResetAll #confirm:hover {
    background-color: rgba(255, 0, 0, 0.945);
}


.formConfirmResetAll #cancel {
    height: 40px;
    width:10em;
    background-color: rgba(255, 255, 255, 0.842);
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(48, 47, 47);
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.formConfirmResetAll #cancel:hover {
    background-color: rgba(173, 173, 173, 0.842);
}




#confirmResetOne {
display: none;
}


.formConfirmResetOne {
    background-color: #fefefe;
    color: black;
    /*margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 15px; */
}

